################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FunctionAppDemos/.vs/FunctionAppDemos/v16/.suo
